.project-card {
  width: 320px;
  padding: 20px;
  min-height: 250px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
}

.project-card h2 {
  margin-top: 20px;
  color: black;
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.project-description {
  color: #555;
  margin-bottom: 15px;
}

.github-btn {
  display: inline-block;
  margin-top: auto;
  align-self: center;

  padding: 10px 16px;
  background: #24292e;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.github-btn:hover {
  background: #000;
}